* { box-sizing: border-box;
    margin: 0;
}

body { background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.scroll-to-top { position: fixed;
   right: 1rem;
   bottom: 1rem;
   display: none;
   width: 2.75rem;
   height: 2.75rem;
   text-align: center;
   color: #fff;
   background: rgba(90, 92, 105, 0.5);
   line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover { color: white;
}

.scroll-to-top:hover {  background: #5a5c69;
}

.scroll-to-top i { font-weight: 800;
}

.overlay_movimiento{ background: #feffff5c;
    background-size: cover;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000000;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Modales*/
.modal-open { overflow: hidden;
}

.modal-open .modal { overflow-x: hidden;
  overflow-y: auto;
}

.modal { font-family: "Press Start 2P";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog { position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog { transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog { transition: none;
  }
}

.modal.show .modal-dialog { transform: none;
}

.modal.modal-static .modal-dialog { transform: scale(1.02);
}

.modal-dialog-scrollable { display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content { max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header, .modal-dialog-scrollable .modal-footer { flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body { overflow-y: auto;
}

.modal-dialog-centered { display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before { display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable { flex-direction: column;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content { max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before { content: none;
}

.modal-content { position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop { position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade { opacity: 0;
}

.modal-backdrop.show { opacity: 0.5;
}

.modal-header { display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e3e6f0;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close { padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title { margin-bottom: 0;
  line-height: 1.5;
}

.modal-body { position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer { display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #e3e6f0;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer > * { margin: 0.25rem;
}

.modal-scrollbar-measure { position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) { 
    .modal-dialog { max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable { max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content { max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered { min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before { height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .modal-sm { max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl { max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl { max-width: 1140px;
  }
}
/**Fin Modales/

/*Header*/
header { /*top: -12vh;*/
    font-size: 2em;
    background-image: url(../imagenes/rotom3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 17vh;
    z-index: 125;
    position: sticky;
    /*transition: 0.6s;*/
    overflow: hidden;
    transform: translate 2s ease;
}

header:hover { background-image: url(../imagenes/rotom4.png);
    top: 0;
}

h1 { font-size: 0.7em;
    width: 5vw;
}

/*@media (min-width: 850px) {
  .col-lg-2 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-4 {
    flex-basis: 100%;
    max-width: 100%;
  }
}*/
/*Fin Header*/
            
/*Enlaces*/
.div-enlaces { display: flex;
    top: 80%;
    float: left;
}

.enlaces { 
    display: flex;
    width: 50%;
    height: 40%;
}

.enlaces:hover { color: graytext;
    background-image: linear-gradient(whitesmoke 20%, lightgray);
}
/*Fin Enlaces*/

/*Botones*/
.boton { border-radius: 4px;
    border: 2px solid graytext;
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(lightsalmon 20%, red);
    font-family: "Press Start 2P";
    display: flex;
    position: absolute;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 0.5em;
    line-height: 22px;
    width: 5%;
    height: 5%;
    -webkit-text-stroke: 0.5px black;
    right: 4%;
    top: 5%;
    transition: 1s;
}

.boton:hover { color: graytext;
    background-image: linear-gradient(whitesmoke 20%, lightgray);
}

.boton2 { border-radius: 4px;
    border: 2px solid graytext;
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(lightskyblue 20%, blue);
    font-family: "Press Start 2P";
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 1em;
    line-height: 22px;
    min-width: 100px;
    right: 5%;
    top: 5%;
    -webkit-text-stroke: 0.5px black;
    transition: 1s;
}

.boton2:hover { color: graytext;
    background-image: linear-gradient(whitesmoke 20%, lightgray);
}

.boton3 { border-radius: 4px;
    border: 2px solid graytext;
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(lightgreen 20%, green);
    font-family: "Press Start 2P";
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 1em;
    line-height: 22px;
    min-width: 100px;
    -webkit-text-stroke: 0.5px black;
    transition: 1s;
}

.boton3:hover { color: graytext;
    background-image: linear-gradient(whitesmoke 20%, lightgray);
}
/*Fin Botones*/

/*Listado Pokemon*/
/*.listadoPokemon { background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/


.pokemon { border: 5px solid salmon;
    border-radius: 15px;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 40vh;
    display: flex;
}

.texto_pokemon {
    margin-top: 7%;
}

.pokemonSel { border: 3px solid brown;
    border-radius: 15px;
    padding-left: 20px;
    width: 50%;
    margin-left: 25%;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: lightsalmon;
    text-align: center;
}

.foto {width: 20%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.fototipo {width: 11%;
    height: 20%;
    margin-top: 7%;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.fototipoModal {width: 100%;
    height: 100%;
    margin-top: 7%;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.fotoHuella {width: 20%;
    height: 30%;
    background-position: center;
    background-size: cover;
}

.fotoCarrusel {width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel { right: 0;
}

.pokeTexto { text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 2em;
    font-family: "Press Start 2P";
}

.texto_modalPok { font-size: 1em;
}
/*Fin Listado Pokemon*/

/*Páginas*/ 
.pagAnt { border-radius: 4px;
    border: 2px solid graytext;
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(lightskyblue 20%, blue);
    font-family: "Press Start 2P";
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 1em;
    min-width: 100px;
    -webkit-text-stroke: 0.5px black;
    transition: 1s;
}

.pagAnt:hover { color: graytext;
    background-image: linear-gradient(whitesmoke 20%, lightgray);
}

.pagSig { border-radius: 4px;
    border: 2px solid graytext;
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(lightskyblue 20%, blue);
    font-family: "Press Start 2P";
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 1em;
    min-width: 100px;
    -webkit-text-stroke: 0.5px black;
    transition: 1s;
}

.pagSig:hover { color: graytext;
    background-image: linear-gradient(whitesmoke 20%, lightgray);
}

.nuevoPokemon { text-decoration: none;
    font-size: 1.2em;
    color: blue;
    border-radius: 9px;
    position: absolute;
    right: 0px;
}

.nuevoPokemon:hover { color: white;
    background-color: blue;
    border: 5px solid blue;
    cursor: pointer;
}
/*Fin Páginas*/

/*Nuevo Pokémon*/
.nuevoPokemon { text-decoration: none;
    font-size: 1.2em;
    color: blue;
    border-radius: 9px;
    position: absolute;
    right: 0px;
}

.nuevoPokemon:hover { color: white;
    background-color: blue;
    border: 5px solid blue;
    cursor: pointer;
}
/*Fin Nuevo Pokémon*/

/*registrar*/
.cont { padding: 60px 0;
    width: 90%;
    max-width: 1000%;
    margin: auto;
    overflow: hidden;
    font-family: "Press Start 2P";
}

.formdatper { width: 100%;
    padding: 16px;
    background-color: rgba(204, 204, 204, 0.5);
    border-radius: 15px;
    color: purple;
    font-family: "Press Start 2P";
}

label { display: inline-block;
    width: 18%;
    font-family: "Press Start 2P";
}

.campoent { display: inline-block;
    width: 78%;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 3px 10px;
}

textarea { width: 97%;
        height: 100%;
        display: inline-block;
        resize: both;
}

textarea, .campoent { border-radius: 3px;
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
}

/*.enviar { width: 100%;
    padding: 8px 16px;
    background-color: black;
    color: wheat;
    border: 1px solid black;
    border-radius: inherit; 
    cursor: pointer;
    font-weight: bold;
}

.enviar:hover { background-color: grey;
    color: black;
}*/

.enviar { border-radius: 4px;
    border: 2px solid graytext;
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(lightpink 20%, purple);
    font-family: "Press Start 2P";
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 22px;
    -webkit-text-stroke: 0.5px black;
    width: 100%;
    padding: 8px 16px;
    margin-top: 2%;
    transition: 1s;
}

.enviar:hover { color: graytext;
    background-image: linear-gradient(whitesmoke 20%, lightgray);
}
/*Fin Registrar*/

/*modificar pokemon*/
#cambiar { text-decoration: none;
    color: green;
    font-size: 0.8em;
    -webkit-text-stroke: 0.5px black;
}

#cambiar:hover { color: blue;
    -webkit-text-stroke: 1px black;
}

#borrar { text-decoration: none;
    color: black;
    font-size: 1.2em;
}

#borrar:hover { color: red;
    -webkit-text-stroke: 1px black;
}

.texto { text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1em;
}
/*Fin Modificar Pokémon*/

/*formulario plantilla*/
.iniciar_sesion { border-radius: 4px;
    border: 2px solid graytext;
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(lightskyblue 20%, blue);
    font-family: "Press Start 2P";
    display: flex;
    position: absolute;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 0.5em;
    line-height: 22px;
    min-width: 100px;
    -webkit-text-stroke: 0.5px black;
    right: 5%;
    top: 5%;
    margin-top: 2%;
    transition: 1s;
}

.iniciar_sesion:hover { color: graytext;
    background-image: linear-gradient(whitesmoke 20%, lightgray);
}

.formu { right: 0;

}

#registro { text-decoration: none;
    color: none;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 0.5px black;
    transition: 1s;
}

#registro:hover { color: graytext;
    background-image: linear-gradient(whitesmoke 20%, lightgray);
}

.div-usuario { display: flex;
    position: absolute;
    right: 5%;
    top: 5%;
    flex-direction: column;
    align-items: flex-end;
}

.usuario_sesion { font-size: 0.75em;
    font-family: "Press Start 2P";
    float: left;
}

#inicio { text-decoration: none;
    font-size: 0.8em;
    border-radius: 4px;
    border: 2px solid graytext;
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(lightsalmon 20%, red);
    font-family: "Press Start 2P";
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 0.6em;
    line-height: 22px;
    min-width: 100px;
    -webkit-text-stroke: 0.5px black;
    transition: 1s;
    padding: 2%;
}

#inicio:hover { color: graytext;
    background-image: linear-gradient(whitesmoke 20%, lightgray);
}

.is-invalid { border: 10px solid red
}

.acierto { justify-content: center;
    align-items: center;
    text-align: center;
}

#msj_acierto { font-size: 2em;
}
/*Fin Formulario Plantilla*/

/*Mapa/Mini Mapa*/

#map {
  width: 100vw;
  height: 70vh;
}

#map img {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 200%; /* Ajusta el valor según sea necesario */
  height: 200%; /* Ajusta el valor según sea necesario */
  pointer-events: none;
}

#mini-map {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px; /* Ajusta el tamaño del mini-mapa según sea necesario */
  height: 150px; /* Ajusta el tamaño del mini-mapa según sea necesario */
  border: 1px solid #ccc;
  overflow: hidden;
  transition: opacity 1s ease;
  pointer-events: none;
}

#mini-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease;
}

#mini-map #pointer {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}
/*Fin Mapa/Mini Mapa*/
